<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Año</th>
      <th scope="col">Patente</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auto of autos">
      <th scope="row">{{ auto.id }}</th>
      <td>{{ auto.marca }}</td>
      <td>{{ auto.modelo }}</td>
      <td>{{ auto.anio }}</td>
      <td>{{ auto.patente }}</td>
      <td>
        <button (click)="eliminarAuto(auto.id)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-danger" [routerLink]="['/home']">Atras</button>
