<div class="landing-page">
  <div class="landing-header">
    <h1>Gestión de Vehículos</h1>
    <p>
      Administra tu flota de vehículos con nuestra plataforma de gestión de
      vehículos.
    </p>
  </div>

  <div class="landing-main">
    <section>
      <h2>¿Qué ofrecemos?</h2>
      <p>
        La gestión de vehículos es esencial para cualquier empresa o institución.
        Ofrecemos una solución integral que simplifica la administración de
        información de vehículos, seguimiento de mantenimiento y mucho más.
      </p>
    </section>

    <section>
      <h2>Beneficios de Nuestra Plataforma</h2>
      <ul>
        <li>Registro fácil y rápido de vehículos.</li>
        <li>Gestión de inventario y refacciones.</li>
      </ul>
    </section>

    <button>¡Inicia Sesión!</button>

  </div>
</div>
