.landing-page {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .landing-header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
  }

  .landing-header h1 {
    margin-bottom: 10px;
  }

  .landing-main {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 8px 8px;
  }

  .section {
    margin-bottom: 20px;
  }

  .section h2 {
    color: #333;
  }

  .section p {
    color: #555;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    margin-bottom: 8px;
  }

  /* Puedes agregar estilos específicos para los productos destacados si es necesario */
  .product {
    margin-bottom: 20px;
  }

  .product img {
    width: 100%;
    border-radius: 8px;
  }

  .product h3 {
    margin-top: 10px;
  }

  /* Agrega estilos para los botones o enlaces según sea necesario */
  button, a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover, a:hover {
    background-color: #45a049;
  }
